@{
    ViewData["Title"] = "Home Page";
}

@model Weather

<div class="text-center">
    <h1 class="display-4">Get Current Weather</h1>
    <p>Enter your Zip Code below to get the current weather.</p>
</div>

<div>
    @using (Html.BeginForm("Weather", "Weather", FormMethod.Get))
    {
        <label asp-for="ZipCode" class="control-label">Zip Code</label>

        <input type="text" name="ZipCode" class="form-control" value="@Model.ZipCode" />
        <br />

        <input type="submit" value="Enter" class="btn btn-primary" />
    }
</div>
<br />
<div>
    <h2>Weather Forecast</h2>
    <table>
        <tr>
            <td>
                <strong>City:</strong> @Model.City, @Model.Country
            </td>
        </tr>
        <tr>
            <td>
                <strong>Temperature:</strong> @Model.Temp<br />
                <strong>Feels Like:</strong> @Model.FeelsLike<br />
                <strong>Temp (Min):</strong> @Model.TempMin<br />
                <strong>Temp (Max):</strong> @Model.TempMax<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>Humidity:</strong> @Model.Humidity
            </td>
        </tr>
        <tr>
            <td>
                <strong>Latitude:</strong> @Model.Coordinate.Latitude<br />
                <strong>Longitude:</strong> @Model.Coordinate.Longitude
            </td>
        </tr>
    </table>
</div>