@{
    ViewData["Title"] = "Current Weather";
}

@model Weather

<div class="text-center">
    <h1 class="display-4">Get Current Weather</h1>
    <p>Enter your Zip Code below to get the current weather.</p>
</div>

<div style="width: 10%; margin: 0 auto" class="text-center">
    @using (Html.BeginForm("Index", "Weather", FormMethod.Get))
    {
        <label asp-for="ZipCode" class="control-label">Zip Code</label>

        <input type="text" name="ZipCode" class="form-control" value="@Model.ZipCode" maxlength="5"/>
        <br />

        <input type="submit" value="Enter" class="btn btn-primary" />
    }
</div>
<br />
<div class="text-center">
    <h2>@Model.City</h2>

    @if (Model.WxIcon == null)
    {
        <img src="@Html.Raw($"http://openweathermap.org/img/wn/02d@2x.png")" alt="condition pic">
    }
    else
    {
        <img src="@Html.Raw($"http://openweathermap.org/img/wn/{Model.WxIcon}@2x.png")" alt="condition pic">

    }

    <h2><strong>Temperature:</strong> @Model.Temp °F<br /></h2>
    <h3>@Model.WxCondition</h3>
    <h4>@Model.WxDescription</h4>

    <table class="table">
        <tr>
            <td>
                <strong>Feels Like:</strong> @Model.FeelsLike °F<br />
                <strong>High:</strong> @Model.TempMax °F<br />
                <strong>Low:</strong> @Model.TempMin °F<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>Humidity:</strong> @Model.Humidity %<br />
                <strong>Pressure:</strong> @Math.Round((@Model.Pressure * 0.02953), 2) inHg <br />
                <strong>Wind Speed:</strong> @Model.WindSpeed mph
            </td>
        </tr>
        <tr>
            <td>
                <strong>Sunrise:</strong> @Model.Sunrise.ToLocalTime().ToString("h:mm tt") Central Time<br />
                <strong>Sunset:</strong> @Model.Sunset.ToLocalTime().ToString("h:mm tt") Central Time<br />
            </td>
        </tr>
        @*<tr>
            <td>
                <strong>Latitude:</strong> @Model.Coordinate.Latitude<br />
                <strong>Longitude:</strong> @Model.Coordinate.Longitude
            </td>
        </tr>*@
    </table>
</div>

<div class="text-center">
    <iframe width="600" height="450" style="border:0" loading="lazy"
            src="@Model.MapsURL">
    </iframe>
</div>